<h3>Importing packages</h3>

In [2]:
import pandas as pd
import numpy as np

<h3>Importing data</h3>

In [3]:
raw_data=pd.read_csv('Index2018.csv')

In [4]:
raw_data.head()

         date     spx      dax     ftse    nikkei
0  07/01/1994  469.90  2224.95  3445.98  18124.01
1  10/01/1994  475.27  2225.00  3440.58  18443.44
2  11/01/1994  474.13  2228.10  3413.77  18485.25
3  12/01/1994  474.17  2182.06  3372.02  18793.88
4  13/01/1994  472.47  2142.37  3360.01  18577.26